.git
packer_compiled.lua
fish/.config/fish/fish_variables

# Override global gitignore for stow packages that contain .cursor/
!cursor/.cursor/

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

